.dashboard-sidebar{
  float: left;
  width: 20%;
  background-color: none;
  position: fixed;
  display: block;
  height: 100vh;
}

.dashboard-sidebar-orgname {
  height: 60px;
  background-color: #EEEBF0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dashboard-sidebar-orginfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  img {
    margin-bottom: 30px;
  }
  p {
    font-weight: lighter;
  }
}

.dashboard-sidebar-username {

}
.dashboard-sidebar-usermail {
  font-size: 14px;
}
.dashboard-sidebar-admin {
  font-size: 10px;
  color: green;
}

.dashboard-content {
  float: right;
  width: 80%;
  background-color: #EEEBF0;
  padding: 50px;
  padding-top: 25px;
  h4 {
    font-weight: stronger;
  }
  p, h5 {
    font-weight: lighter;
  }
}

.dashboard-content-section {
  margin: 50px 0px;
}

.dashboard-content-info-buttons {
  margin-top: 20px;
}

.dashboard-content-audience {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

.organization-audience-card {
  margin: 0px 10px;
  margin-top: 20px;
  flex: 1 1 auto;
  background-color: white;
  padding: 10px 0px;
}

.audience-number {
  font-size: 30px;
  font-weight: stronger;
  margin-bottom: 0px;
}

.audience-word {
  font-size: 14px;
}

.random-comment-big-card {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.random-comment-big-card-top {
  display: flex;
}

.comment-big-card-useravatar {
  width: 50px;
  margin-right: 10px;
}

.comment-avatar {
  width: 50px;
}

.comment-big-card-userinfo {

}
.comment-email {
  font-weight: stronger;
  color: #9E4DF8;
}

.comment-date {
  font-size: 12px;
}

.random-comment-big-card-bottom {
  margin-top: 20px;
}

.follower-card {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 15px;
}

.follower-card-info {
  p {
    margin-bottom: 0px;
  }
}

.follower-card-avatar {
  margin-right: 10px;
}

.empty-content {
  color: gray;
  h3 {
    font-weight: lighter;
  }
}
