.events-card {
  margin: 20px auto;
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: fill !important;
  color: white;
  position: relative;
  box-shadow: 0.2px 0.2px 0.2px 0.2px lightgrey;
  background-image: image-url('events.jpg');
  max-width: 600px
}

.card-logo {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-description {
  position: absolute;
  top: 5px;
  left: 10px;
  bottom: 10px
}
.card-description h2 {
  font-size: 20px;
}
.card-description p {
  font-size: 13px;
  }

.sub-header-card {
  margin: 20px auto;
  height: 700px;
  background-size: cover !important;
  color: black;
  position: relative;
  box-shadow: 0.2px 0.2px 0.2px 0.2px lightgrey;
  max-width: 600px
}


.sub-header-card-description {
  position: absolute;
  top: 20px;
  left: 15px;
  right: 15px;
  color: #6a6c73;
  h4 {
    font-weight: bolder;
    font-size: 25px;
  }
  p {
    margin-bottom: 15px;
    font-size: 15px;
    font-family: Arvo;
  }
}

.baidu-map {
  width: 100%;
}


.footer-buttons{
  text-align: center;
  margin: 20px auto
}
