/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.title-divider {
  margin: 40px 0px
}

#call-to-action-wrapper {
  margin-top: 50px;
  height: 400px;
  background-color: #E0E0E0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.events-card {
  position: relative;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid black;
  width: 80%;
  min-height: 360px;
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 12px;
  }
}

.event-card-img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
}

.event-card-text {
  padding: 10px;
}

.card-link {
  position: absolute;
  border-radius: 10px;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: #B3D1FF;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}
