/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

// Section titles
.title-divider {
  margin: 40px 0px 40px 0px;
  h4 {
    color: #3CC7C6;
    font-weight: bolder;
    letter-spacing: 2px;
  }
}

.no-org-separator {
  background-color: white;
  height: 500px;
}
// welcome banner
#welcome-wrapper{
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: image-url('home-banner.jpg');
  color: #F8F8F8;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-welcome h1 {
  font-family: Arvo;
  font-size: 55px;
  font-weight: 700;
}

.tagline-welcome{
  margin-bottom: 50px;
}

.button-cta-primary {
  padding: 10px 50px 10px 50px;
}

// search wrapper

.search-wrapper {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin: 0;
    margin-right: 20px;
  }
}

.text-search-field {
  color: black;
  border-radius: 3px;
  border: none;
  height: 32px;
  width: 200px;
  margin-right: 20px;
}

.text-search-dropdown {
  color: black;
  border-radius: 3px;
  border: none;
  height: 32px;
  margin-right: 20px;
}

// event cards

.events-card {
  position: relative;
  margin: 20px auto;
  border-radius: 3px;
  box-shadow: 0.2px 0.2px 0.2px 0.2px lightgrey;
  width: 60%;
  height: 310px;
  h3 {
    font-size: 15px;
  }
  h5 {
    font-size: 12px
  }
  p {
    font-size: 10px;
  }
}

.event-card-img {
  border-radius: 3px 3px 0px 0px;
  width: 100%;
}

.event-card-text {
  padding: 5px;
  background: white;
}

.card-link {
  position: absolute;
  border-radius: 10px;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: #D5F0EE;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
  box-shadow: 0.5px 0.5px 0.5px 0.5px grey;
}


// Icons wrapper
#features-img{
  background-image: image-url('home-features-bg.jpg');
  background-color: #D5F0EE;
  padding-top: 30px;
  padding-bottom: 80px;
}

.features {
  h4 {
    color: #3CC7C6;
  }
  h5 {
    color: white;
  }
}


// Call to action footer
#call-to-action-wrapper {
  height: 400px;
  background-color: white;
  background-size: cover;
  background-repeat: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.feiy-feature-img {
  margin-top: 40px;
}

.feiy-feature-title {
  font-size: 30px;
  color: #3CC7C6;
  font-weight: bolder;
  letter-spacing: 2px;
}

.feiy-feature-text {
  margin-top: 20px;
  padding: 0px 20px;
}

.button-row {
  height: 100px;
  text-align: center;
}
