.org-show-grey-banner {
  height: 450px;
  background-color: grey;
  position: relative;
}

.org-show-banner {
  height: 450px;
  background-color: grey;
  position: relative;
}

.org-show-banner-content {
  left: 25%;
  height: 235px;
  width: 50%;
  margin: 0 auto;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  position: absolute;
  top: 285px;
}

.org-show-banner-logo-placeholder {
  width: 50%;
  position: absolute;
  left: 25%;
  top: 125px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.round-logo-placeholder {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    border-radius: 50%;
  }

}

.org-show-banner-content-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  h1, p {
    margin: 0;
    color: white;
    opacity: 0.7;
  }
  h1 {
    font-size: 35px;
    font-family: Arvo;
    font-weight: 700;
  }
}

.org-show-button-holder {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.org-show-update {
  width: 25px;
  opacity: 0.6;
  transition: all 0.3s ease;
  &:hover {
    opacity: 1;
    transition: all 0.3s ease;
    cursor: pointer;
  }
}

.org-show-banner-content #organization-category {
  margin-left: 5px;
}

#actions-under-title {
  width: 300px;
  display: flex;
  justify-content: space-start;
}
.btn-contact {
  margin: 0;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 5px 15px;
  padding-top: 5px;
  font-size: 18px;
  margin-right: 10px;
  text-decoration: none;
  color: black;
  transition: all 0.3s ease;
  &:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
  }
}
.org-show-body-content {
  margin: 0 auto;
  text-align: left;
  width: 50%;
  padding: 10px;
  p {
    margin-bottom: 40px;
    font-size: 15px;
    font-family: Arvo;
  }
  h4 {
    margin-top: 40px;
    font-weight: bolder;
    font-size: 20px;
  }
}

.organization-website-link {
  text-decoration: none;
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}


.line {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 10px;
}

.action-like {
  .fa {
    font-size: 25px;
    transition: all 0.3s ease;
    color: gray;
    margin-bottom: 10px;
    &:hover {
      color: green;
      transition: all 0.3s ease;
    }
  }
}
.org-show-comment-section {
  margin: 0 auto;
  width: 50%;
  padding: 10px;
  background-color: #677BFF;
  text-align: center;
}

.org-show-comment-big-card {
  width: 50%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px;
  max-height: 400px;
  overflow: scroll;
}

#comment {
  width: 80%;
  height: 150px;
}
#leavemsg {
  color: white;
  margin-bottom: 30px;
}

.comment-btn {
  margin-top: 10px;
}
.comment-list {
  margin-top: 40px;
}
.comment-card {
  margin: 20px auto;
  padding: 40px;
  width: 75%;
  height: 150px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgrey
}
.comment-card-user-info {
  margin-top: 10px;
}
.comment-card-text {
  width: 80%;
  text-align: left;
}

.btn-feiy-comments {
  border-radius: 0px;
  padding: 10px 20px;
  font-weight: lighter;
  border: solid 2px white;
  letter-spacing: 1px !important;
  color: white;
  background-color: #31c7c5;
  opacity: 0.9;
  &:hover {
    opacity: 1;
    text-decoration: none;
  }
}

.follower-avatar {
  padding-bottom: 40px
}

.organization-add-info-buttons {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .org-show-banner-content {
    width: 90%;
    left: 5%;
    height: 150px;
    img {
      width: 15px;
    }
  .org-show-banner-content-info h1 {
    font-size: 25px;
  }
}

  .org-show-banner-content h1 {
    font-size: 25px;
  }

  .org-show-body-content {
    width: 90%;
    text-align: center;
  }

  .org-show-comment-section {
    width: 90%;
  }

  .org-show-comment-big-card {
    width: 90%;
  }
}

#emptypadding-footer{
  margin: 20px;
}
