.org-show-banner {
  height: 400px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: grey;
  flex-direction: column;
}
.org-show-banner-content {
  height: 235px;
  width: 700px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.75);
}
.org-show-banner-content #organization-category {
  margin-left: 5px;
}
#org-show-banner-logo {
  margin: 0px 5px;
  height: 90px;
}
#org-show-banner-name {
  margin-top: 5px;
  margin-left: 0px;
  font-size: 50px;
  font-family: Arvo;
}
#actions-under-title {
  width: 300px;
  display: flex;
  justify-content: space-start;
}
.btn-contact {
  margin: 0;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 3px 8px;
  font-size: 16px;
  margin-right: 10px;
  text-decoration: none;
  color: black;
  transition: all 0.3s ease;
  &:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
  }
}
.org-show-body-content {
  margin: 0 auto;
  text-align: left;
  width: 700px;
  padding: 10px;
  background-color: #59DFDF;
  p {
    margin-bottom: 40px;
  }
}
.org-edit-actions {
  float: right;
  a {
    margin: 0;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 3px 8px;
    font-size: 13px;
    margin-left: 10px;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
    &:hover {
      cursor: pointer;
      background-color: transparent;
      transition: all 0.3s ease;
    }
  }
}

.action-like {
  .fa {
    font-size: 25px;
    transition: all 0.3s ease;
    color: gray;
    margin-bottom: 10px;
    &:hover {
      color: green;
      transition: all 0.3s ease;
    }
  }
}
.org-show-comment-section {
  margin: 0 auto;
  width: 700px;
  padding: 10px;
  background-color: #677BFF;
}

#comment {
  width: 500px;
  height: 150px;
}
.comment-btn {
  margin-top: 10px;
}
.comment-list {
  margin-top: 40px;
}
.comment-card {
  margin: 20px auto;
  padding: 40px;
  width: 75%;
  height: 150px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgrey
}
.comment-card-user-info {
  margin-top: 10px;
}
.comment-card-text {
  width: 80%;
  text-align: left;
}
.follower-avatar {
  padding-bottom: 40px
}
