.org-show-banner {
  height: 400px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: grey;
  flex-direction: column;
}
.org-show-banner-content {
  height: 200px;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.7);
}

#org-show-banner-logo {
  margin: 0px 15px;
  height: 90px;
}
.org-show-banner-content #organization-category {
  margin-left: 15px;
}
#org-show-banner-name {
  margin-top: 5px;
  margin-left: 10px;
  font-size: 55px;
  font-family: Arvo;
}




#organization-banner-content #organization-category {
  margin-left: 5px;
}

#organization-information {
  p {
    margin-bottom: 40px;
  }
}

.action-like {
  .fa {
    font-size: 25px;
    transition: all 0.3s ease;
    color: gray;
    margin-bottom: 10px;
    &:hover {
      color: green;
      transition: all 0.3s ease;
    }
  }
}

#comment {
  width: 500px;
  height: 150px;
}

.comment-btn {
  margin-top: 10px;
}

.comment-list {
  margin-top: 40px;
}

.comment-card {
  margin: 20px auto;
  padding: 40px;
  width: 75%;
  height: 150px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgrey
}

.comment-card-user-info {
  margin-top: 10px;
}

.comment-card-text {
  width: 80%;
  text-align: left;
}

.follower-avatar {
  padding-bottom: 40px
}
