<div id="footer">
  <ul class="list-inline">
    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
  </ul>

  <ul class="list-inline">
    <li><a href="#">Home</a> |</li>
    <li><a href="#">About Us</a> | </li>
    <li><a href="#">Contact</a> | </li>
    <li><a href="#">Demo</a> | </li>
    <li><a href="#">Pricing</a></li>
  </ul>

  <p>Made with love in Shanghai.</p>
</div>
