<!-- like function -->
  <% if user_signed_in? %>
    <div class="action-like text-center">
      <%= link_to like_organization_path(@organization), method: :post do %>
        <i class="fa fa-thumbs-up organization-card-icon"></i>
      <% end %>
      <span class="organization-card-icon-text"><%= @organization.votes_for.size %></span>
    <% else %>
      <%= link_to new_user_session_path do %>
        <i class="fa fa-thumbs-up organization-card-icon"></i>
      <% end %>
      <span class="organization-card-icon-text"><%= @organization.votes_for.size %></span>
    </div>
  <% end %>




