<div class="container-fluid" id="aboutus-wrapper">
  <div class="aboutus-content">

    <h2 class="text-center aboutus-title">Our mission</h2>
    <p class="text-left">Feiy is a China-based international platform that connects and inspires a new generation of social dreamers. We are a hub for high-impact initiatives, to learn more about the positive solutions they create and the impact they have on our society and environment. These high-impact initiatives can also share information about events they organize and jobs they offer.</p>

    <h2 class="text-center aboutus-title">Why are we doing this?</h2>
    <p class="text-left">Many people are doing great things out there, dedicating their lives to create a better world to come, a world that is more human-centered, eco-friendly and fair. We want to help them spread the word about their visions and purpose in order to attract more talented and motivated people to join their cause.   We also believe that more and more people are seeking ways to take part in this change. We want to connect this ambitious people with socially and environmentally driven organizations and be the first push in their journey for a better world.
    </p>

    <h2 class="text-center aboutus-title">The Story</h2>
    <p class="text-left">Feiy is an adventure started in Shanghai in 2015 by a team of dreamers that wanted to contribute in spreading the word about meaningful events, jobs and projects in Shanghai and in China. After two years of work, discovering more and more life changing projects, meeting everyday awesome people drawing the lines of what businesses should be tomorrow, we decided to take a step further and create a platform to foster awareness and collaboration around social/ environmental impact in China.</p>

    <h2 class="text-center aboutus-title">What are high-impact initiatives?</h2>
    <p class="text-left">We call high-impact initiatives, social enterprises, NGOs, CSR/Sustainability departments or organizations that clearly state in their mission an intention of solving or positively contribute to a social or environmental problem through their work.</p>

    <h2 class="text-center aboutus-title">What can I do on Feiy?</h2>
    <p class="text-left">As a user I can discover amazing positive initiatives working in different fields, follow them to be updated, comment their work, or get in touch with them. I can also get involved by attending inspiring events or applying to meaningful jobs.<br>As an organization I have the opportunity to showcase my work and my impact, promote my events and job offers to a community of like-minded people.<br><br>Feiy online platform is an initiative supported by IMPACT HUB logo
    </p>

  </div>
  <div class="aboutus-sidebar hidden-xs hidden-sm">
    <div class="call-box" >
      <%= link_to "JOIN US NOW!", new_organization_path, class: "call-box-btn btn-feiy-primary button-cta-primary" %>
    </div>
  </div>
</div>
