<div class="wrapper" id="aboutus-wrapper">
  <div class="mission">
    <h2 class="text-center">What is Feiy mission?</h2>
    <p>Feiy is a China-based international platform that works to connect and inspires a new generation of social dreamers. We are a hub for high-impact initiatives, to learn more about the positive solutions they can create and the impact they can have on our society and/ or environment. These high-impact initiatives can also share information about any events they organise or jobs that they are offering. Why are we doing this?
    Many people are doing great things out there, dedicating their lives to create a better world to come, a world that is more human-centered, eco-friendly and fair.  We want to help them spread the word about their visions and purpose in order to attract more talented and motivated people to join their cause. </p>
    <p>We also believe that everyone wants to see and take part, even if only a small part, in the positive changes that happen everyday in our society. As a result, our mission is to help social initiatives have a greater impact by making it easier for everyone to discover positive initiatives, learn from them, get inspired by them, and join them.
    </p>
  </div>
  <div class="story">
    <h2 class="text-center">The Story</h2>
    <p>Feiy is an adventure started in Shanghai in 2015 by a team of dreamers that wanted to contribute in spreading the word about meaningful events, jobs and projects in Shanghai and in China. After two years of work, discovering more and more life changing projects, meeting everyday awesome people drawing the lines of what businesses should be tomorrow, we decided to take a step further and create a platform to foster awareness and collaboration around social/ environmental impact in China.</p>
  </div>
</div>
