- title "Thank you for joining"
.container-fluid.welcome-segment
  %h1 Welcome! We are happy to have you with us.
  %h3 Maybe you have an organization, a job or an event to promote?
  %h3 Click on the link below, you're just a few tiny steps away!
  %br
  = link_to "Create an organization", new_organization_path, class: 'btn-feiy-primary'
