.developers-wrapper {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
    margin: 0;
    font-size: 12px;
    font-weight: lighter;
    &:hover {
      color: $brand-color;
      transition: all 0.3s ease;
    }
  }
}

.developers-title {
  margin: 50px auto;
  font-weight: lighter;
  font-size: 30px;
  color: $brand-color;
}

.about-developers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto 60px;
}

.developer-card {
  margin: 0 5px;
  width: 200px;
  height: 270px;
  z-index: 2;
  img {
    width: 140px;
  }
  h5 {
    font-weight: lighter;
    font-size: 20px;
    margin: 15px 0;
  }
}

.developer-card-info {
  margin: auto;
  width: 100%;
}

.dev_avatar {
  width: 200px;
  border-radius: 100px;
  margin: auto;
}

.dev_flag {
  width: 40px !important;
  // margin: 0 15px;
}

.dev-social {
  margin: 0 auto;
  margin-top: 15px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 33px;
  .fa {
    color: gray;
    &:hover {
      opacity: 1;
      text-decoration: none;
      color: $brand-color;
    }
  }
}

// .dev_social-img {
//   width: 25px !important;
//   transition: all 0.3s ease;
// }
