.developers-wrapper {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
    margin: 0;
    font-size: 12px;
    font-weight: lighter;
    &:hover {
      color: $brand-color;
      transition: all 0.3s ease;
    }
  }
}

.developers-title {
  margin-top: 50px;
  font-weight: lighter;
  font-size: 30px;
  color: $brand-color;
}

.about-developers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 60px;
  margin-left: 80px;
  h1 {
    margin-bottom: 30px;
  }
}

.developer-card {
  margin: 0 5px 0 5px;
  width: 200px;
  height: 330px;
  z-index: 2;
  img {
    width: 198px;
  }
  h5 {
    font-weight: lighter;
    font-size: 20px;
    margin-top: 15px;
  }
}

.dev_flag {
  width: 40px !important;
}

.dev-social {
  margin: 0 auto;
  margin-top: 15px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 33px;
  .fa {
    color: gray;
    &:hover {
      opacity: 1;
      text-decoration: none;
      color: $brand-color;
    }
  }
}

.dev_social-img {
  width: 25px !important;
  transition: all 0.3s ease;
}
