.btn-call-to-action {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}

.btn-call-to-action:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}

.btn-form {
  width: 75%;
  height: 40px;
  margin-bottom: 10px;
  line-height: 0.4;
}

.btn-feiy-primary{
  border-radius: 50px;
  padding: 10px 20px;
  background-color: #31c7c5;
  border: solid 1px #31c7c5;
  color: #F8F8F8;
  font-weight: lighter
}


.btn-feiy-primary:hover{
  opacity: 1;
  text-decoration: none;
  background-color: #37D7D4;
  border: solid 1px #37D7D4;
  color: #F8F8F8
}


.btn-feiy-secondary{
  border-radius: 50px;
  padding: 10px 20px;
  font-weight: lighter;
  border: solid 1px #31c7c5;
  opacity: 0.6;
  color: #31c7c5
}

.btn-feiy-secondary:hover{
  opacity: 1;
  color: #31c7c5;
  text-decoration: none
}
