//organization cards
.title-divider {
  margin: 40px 0px
}

.organization-card {
  background-color: white;
  width: 350px;
  height: 350px;
  border-radius: 3px;
  position: relative;
  box-shadow: 0.2px 0.2px 0.2px 0.2px lightgrey;
  margin: 20px 0px 40px 0px;
  z-index: 0;
}

.organization-card-link {
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  left: 0px;
}

.organization-card:hover {
  box-shadow: 0.5px 0.5px 0.5px 0.5px grey;
}

.organization-card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 3px solid $brand-color;
;
}

// .organization-card-avatar {
//   border-radius: 50%;
//   width: 80px;
//   height:80px;
//   border: solid 3px $yellow;
//   position: absolute;
//   bottom: 5px;
// }

// .organization-card-avatar-link {
//   z-index: 10;
//   position: absolute;
//   left: 24px;
//   bottom: 135px;
// }

.organization-card-description {
  width: 350px;
  height: 130px;
  position: absolute;
  bottom: 10px;
  top: 200px;
}

#organization-name {
  color: #393A3E;
  margin-left: 30px;
  font-size: x-large;
  font-family: Arvo;
}

#organization-problem {
  font-size: 16px;
  color: #393A3E;
  margin-left: 30px;
  font-weight: lighter;
}

#organization-category {
  font-size: 14px;
  margin-left: 30px;
  font-weight: 600;
  color: $brand-color;
  letter-spacing: 1px;
}

.organization-card-icons {
  position: absolute;
  top: 310px;
  right: 30px;
  z-index: 3;
}

.organization-card-icon-text {
  font-size: 14px;
  line-height: 32px;
  margin-left: 10px;
}

.organization-card-icon {
  width: 12px;
  color: $brand-color;
}



//events cards



.event-card {
  background-color: white;
  width: 300px;
  height: 250px;
  border-radius: 3px;
  position: relative;
  box-shadow: 0.2px 0.2px 0.2px 0.2px lightgrey;
  margin: 20px 0px 40px 0px;
  z-index: 0;
  padding: inherit
}


.events-card {
  background-color: white;
  width: 350px;
  height: 350px;
  border-radius: 3px;
  position: relative;
  box-shadow: 0.2px 0.2px 0.2px 0.2px lightgrey;
  margin: 20px 0px 20px 0px;
  z-index: 0;
}

.events-card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 3px solid #D5F0EE;
}

.events-card-description {
  width: 300px;
  height: 150px;
  position: absolute;
  padding: 150px 0px;
  margin: 10px auto;
}


.event-hover-card{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  border-radius: 3px;

  transition: opacity .2s, visibility .2s;
}
.event-card:hover .event-hover-card {
  visibility: visible;
  opacity: 0.8;
}

#event-name {
  font-size: 20px;
  color: white;
  padding-top: 20px;
}


//jobs cards

.job-card {
  background-color: white;
  width: 300px;
  height: 300px;
  border-radius: 3px;
  position: relative;
  box-shadow: 0.2px 0.2px 0.2px 0.2px lightgrey;
  margin: 20px auto;
  z-index: 0;
  padding: inherit
}

.job-card-description {
  width: 300px;
  height: 150px;
  position: absolute;
  padding: 150px 10px;
  margin: 10px auto;
}

.job-card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 3px solid #F8F8F8;
}

#job-name {
  font-size: 20px;
  color: black;

}

#job-title {
  font-size: 18px;
  color: black;
}

#job-problem {
  font-size: 16px;
  color: black;
  font-weight: lighter;
}

#job-category {
  font-size: 14px;
  color: black;
  margin-top: 9px;
  font-weight: lighter;
}

.job-logo{
  width: 230px;
  height: 80px;
  background-color: pink;
  margin: 0px auto;
  padding-top: 10px
}
